{% extends "base.html" %}

{% block content %}
<h1>Käyttäjän Aaro ostoskori</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Määrä</th>
        <th>Tuotetyyppi</th>
        <th>Valmistaja</th>
        <th>Valmistusmaa</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan ostoskorissa olevat tuotteet tähän -->
      <tr>
        <td><a href="#">Toblerone suklaa - valkoinen</a></td>
        <td>€3.00</td>
        <td>2</td>
        <td>Makeiset</td>
        <td>Mondelez Schweiz GmbH</td>
        <td>Sveitsi</td>
        <th><a class="btn btn-default btn-sm" href="#">Poista korista</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}