{% extends "base.html" %}

{% block content %}
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-default">Lisää ostoskassiin</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <h1>Toblerone suklaa - valkoinen</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Hinta:</strong> €3.00</li>
    <li><strong>Tuotetyyppi:</strong> Makeiset</li>
    <li><strong>Valmistaja:</strong> Mondelez Schweiz GmbH</li>
    <li><strong>Valmistusmaa:</strong> Sveitsi</li>
    <li><strong>Saatavilla:</strong> Kyllä</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Valkoinen Toblerone -suklaa
    ...
  </p>
{% endblock %}