{% extends "base.html" %}

{% block content %}
  <h1>Muokkaa tuotetta Toblerone suklaa - valkoinen</h1>

  <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Saatavilla
      </label>
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Toblerone suklaa - valkoinen">
    </div>
    <div class="form-group">
      <label>Hinta</label>
      <input type="text" class="form-control" value="€3.00">
    </div>
    <div class="form-group">
      <label>Tuotetyyppi</label>
      <input type="text" class="form-control" value="Makeiset">
    </div>
    <div class="form-group">
      <label>Valmistaja</label>
      <input type="text" class="form-control" value="Mondelez Schweiz GmbH">
    </div>
    <div class="form-group">
      <label>Valmistusmaa</label>
      <input type="text" class="form-control" value="Sveitsi">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">        Valkoinen Toblerone -suklaa
    ...
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}