{% extends "base.html" %}

{% block content %}

<!-- toistaiseksi käyttämätön -->
<h1>Myynnissä olevat Tax-free tuotteet</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää tuote</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Tuotetyyppi</th>
        <th>Valmistaja</th>
        <th>Valmistusmaa</th>
        <th>Saatavilla</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan tietokannassa olevat tuotteet tähän -->
      <tr>
        <td><a href="#">Toblerone suklaa - valkoinen</a></td>
        <td>€3.00</td>
        <td>Makeiset</td>
        <td>Mondelez Schweiz GmbH</td>
        <td>Sveitsi</td>
        <td>~60 kpl</td>
        <th><a class="btn btn-default btn-sm" href="#">Lisää ostoskassiin</a></th>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}