{% extends "base_form.html" %}

{% block form_header %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.name}} ostoskori</h1>
{% endif %}

{% endblock %}

{% block form_fields %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Määrä</th>
        <th>Kokonaishinta</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan ostoskorissa olevat tuotteet tähän -->
      {% set sumofprices = 0 %}
      {% for order in orders %}
        <tr>
          <td><a href="{{base_path}}/product/{{order.product.id}}">{{order.product.name}}</a></td>
          <td>{{order.product.price}}</td>
          <td>{{order.quantity}}</td>
          {% set totalprice = order.product.price*order.quantity %}
          {% set sumofprices = totalprice + sumofprices %}
          <td>{{totalprice}}</td>
          <th><form method="post" action="{{base_path}}/ostoskassi/{{order.id}}/destroy"><button type="submit" class="btn btn-danger">Poista korista</button></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Ostosten kokonaishinta: {{sumofprices}}</h4>
{% endblock %}