{% extends "base_form.html" %}

{% block form_header %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.name}} ostoskori</h1>
{% endif %}

{% endblock %}

{% block form_fields %}

{% if orders %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Määrä</th>
        <th>Hinta yhteensä</th>
      </tr>
    </thead>

    <tbody>
        <!-- Listataan ostoskorissa olevat tuotteet tähän -->
        {% set sumofprices = 0 %}
        {% for order in orders %}
          <tr>
            <td><a href="{{base_path}}/product/{{order.product.id}}">{{order.product.name}}</a></td>
            <td>€ {{order.product.price}}</td>
            <td>{{order.quantity}}</td>
            {% set totalprice = order.product.price*order.quantity %}
            {% set sumofprices = totalprice + sumofprices %}
            <td>€ {{totalprice}}</td>
            <th><form method="post" action="{{base_path}}/ostoskassi/{{order.id}}/destroy"><button type="submit" class="btn btn-danger">Poista korista</button></th>
          </tr>
        {% endfor %}
    </tbody>
  </table>

  <h4>Ostosten kokonaishinta: {{sumofprices}} €</h4>

  <th><form method="post" action=""><button type="submit" class="btn btn-success">Tilaa tuotteet</button></th>

  {% else %}
    <h4><br>Ostoskorisi on tyhjä.</h4>
  {% endif %}
{% endblock %}